<div class=" marketing">
  <form class="form" method="GET" >
    <h4 class="with-seperator">Bearbeiten</h4>
    <!-- <div class="form-group row">
      <label for="movieName" class="col-sm-3 control-label">Name</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="movieName" placeholder="Name">
      </div>
    </div> -->

    <div class="form-group row">
      <label for="releaseYear" class="col-sm-3 control-label">Semester</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="releaseYear" placeholder="zb. 3.Semester">
      </div>
    </div>

    <!-- <div class="form-group row">
      <label for="generes" class="col-sm-3 control-label">Genere(s)</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="generes" placeholder="Genere(s)">
        <small class="text-muted">Seperate multiple generes by commas</small>
      </div>
    </div> -->

    <div class="form-group row">
      <label for="duration" class="col-sm-3 control-label">Seitenanzahl</label>
      <div class="col-sm-9">
        <input type="number" class="form-control" id="duration" placeholder="Seitenanzahl">
      </div>
    </div>

    <div class="form-group row">
      <label for="directors" class="col-sm-3 control-label">Vorlesung</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="directors" placeholder="Vorlesung">
        <small class="text-muted">Vorlesungsname</small>
      </div>
    </div>

    <div class="form-group row">
      <label for="actors" class="col-sm-3 control-label">Verfasser/in</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="actors" placeholder="Verfasser/in">
        <small class="text-muted">Bei mehr Leuten mit Komma trennen</small>
      </div>
    </div>

    <!-- <div class="form-group row">
      <label for="imdbUrl" class="col-sm-3 control-label">IMDB URL</label>
      <div class="col-sm-9">
        <input type="url" class="form-control" id="imdbUrl" placeholder="IMDB URL of movie">
      </div>
    </div> -->
    <div class="form-group row clearfix">
      <div class="col-lg-3">&nbsp;</div>
      <div class="col-lg-9">
        <button type="button" id="save" class="btn btn-primary-outline">Save Movie</button>
      </div>
    </div>
  </form>
</div>
