<div class="jumbotron">
  <h1 class="display-3">Servus liebe Mitstudierenden!</h1>
</div>
<div class="row marketing">
  <div class="col-lg-6">
    <h4>Überschrift</h4>
    <p>Momentan ist das Projekt noch in der Entwicklungsphase.</p>

    <h4>Überschrift</h4>
    <p>Momentan ist das Projekt noch in der Entwicklungsphase.</p>

    <h4>Überschrift</h4>
    <p>Momentan ist das Projekt noch in der Entwicklungsphase.</p>
  </div>

  <div class="col-lg-6">
    <h4>Überschrift</h4>
    <p>Momentan ist das Projekt noch in der Entwicklungsphase.</p>

    <h4>Überschrift</h4>
    <p>Momentan ist das Projekt noch in der Entwicklungsphase.</p>

    <h4>Überschrift</h4>
    <p>Momentan ist das Projekt noch in der Entwicklungsphase.</p>
  </div>
</div>

 <!-- <footer class="footer">
        <p><a href="https://bwi17-20.firebaseio.com">Datenbank:>Admin</a></p>
      </footer> -->