<div class="row marketing">
  <div id="errors">

  </div>
  <div class="row clearfix">
    <div class="col-lg-12"><h2>Soziale Netzwerke</h2><p/></div>
    <div class="col-lg-3">
      <button type="button" id="facebook" class="btn btn-primary-outline btn-block">Facebook</button>
    </div>
    <div class="col-lg-3">
      <button type="button" id="twitter" class="btn btn-info-outline btn-block">Twitter</button>
    </div>
    <div class="col-lg-3">
      <button type="button" id="google" class="btn btn-danger-outline btn-block">Google</button>
    </div>
    <div class="col-lg-3">
      <button type="button" id="github" class="btn btn-success-outline btn-block">GitHub</button>
    </div>
    <div><hr/></div>
  </div>
  <p>&nbsp;<hr/></p>
  <div class="row clearfix">
    <div class="col-lg-12"><h2>oder per E-Mail</h2><p/></div>
    <div class="col-lg-12">
      <h5>Register/Login</h5>
      <form>
        <fieldset class="form-group">
          <label for="email">Email</label>
          <input type="text" class="form-control" id="email" autocomplete="email" placeholder="Email">
        </fieldset>
        <fieldset class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" autocomplete="password" placeholder="Password">
        </fieldset>
        <div class="form-group row clearfix">
          <p/>
          <div class="col-lg-6">
            <button type="button" id="register" class="btn btn-primary-outline btn-block">Register</button>
          </div>
          <div class="col-lg-6">
            <button type="button" id="login" class="btn btn-success-outline btn-block">Login</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
