<h1 id="Actors"></h1>
<span id="releaseYear"></span><span id="duration"></span>
<!-- <div>
  <span class="text-muted">Generes</span>: <span id="generes"></span>
</div> -->
<div>
  <span class="text-muted">Vorlesungsname</span>: <span id="directors"></span>
</div>
<div>
  <span class="text-muted">Verfasser/in</span>: <span id="actors"></span>
</div>
<div>
  <span class="text-muted">Download Link</span>:<span id="poster"></span>
</div>
